<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ fdb_staging_domain }}
    DocumentRoot {{ project_dir }}/app/{{ fdb_staging_domain }}
    ErrorLog ${APACHE_LOG_DIR}/{{ fdb_staging_domain }}error.log
    CustomLog ${APACHE_LOG_DIR}/{{ fdb_staging_domain }}access.log combined

    <Directory {{ project_dir }}/app/{{ fdb_staging_domain }}>
          Options -Indexes
          AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm
    </IfModule>

</VirtualHost>