server {
  listen 80;
  server_name {{ fdb_staging_domain }};

  location / {
    proxy_pass         http://{{ fdb_compose_service_name }}:{{ fdb_port }};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
    proxy_headers_hash_max_size 512;
    proxy_headers_hash_bucket_size 128; 
    proxy_connect_timeout 120;
    proxy_send_timeout 120;
    proxy_read_timeout 180;
    }

}
